# Basic
NODE_ENV=development # development, prodcution, test
PORT=3001 
HOST_URL=?

# DB
DB_HOST_URL=? # db 설치된 호스트 주소
DB_HOST_PORT=? # db 설치된 호스트가 열어둔 포트 번호
DB_USER=? # dbms에 유저로 등록되서 db 내부에서 작업할 수 있는 계정
DB_PW=? # DB_USER의 비밀번호

DB_TYPE=postgresql

# db 만들 때, 필요한 주소
PG_CONNECTION4CREATE=postgresql://${DB_USER}:${DB_PW}@${DB_HOST_URL}:${DB_HOST_PORT}/postgres

DB_NAME=high_${NODE_ENV}

# db 클라이언트 만들어서 작업할 때, 필요한 값
PG_CONNECTION=postgresql://${DB_USER}:${DB_PW}@${DB_HOST_URL}:${DB_HOST_PORT}/${DB_NAME}

# App
FINGERPRINT=? # cuid 만들 때, 필요한 값

JWT_ACCESS_TOKEN_SECRET=?
JWT_REFRESH_TOKEN_SECRET=?

COOKIE_SECRET=? # 쿠키 sign할 때, 필요한 값

# 이 파일은 .env로 설정해야 하며 제품을 출시할 때, 쓰입니다.